<a href="https://colab.research.google.com/github/SSM-15431/python-basic/blob/main/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
Print Data Type Example
x = -1 #  int
print(type(x))

<class 'int'>

In [18]:
#List Data Type example
list = [123, "abcd", 10.2]
list1 = ["hello"]
print(type(list))
print(list)
print(list[0:2])
print(list[1])
print(list*2)
print(list+list1)
print(*list)
print(list[1],list[2])
list1[0]="I am student"
print(list1)

<class 'list'>
[123, 'abcd', 10.2]
[123, 'abcd']
abcd
[123, 'abcd', 10.2, 123, 'abcd', 10.2]
[123, 'abcd', 10.2, 'hello']
123 abcd 10.2
abcd 10.2
['I am student']

In [19]:
#Tuple Data Type (immutable) Example
tuple1=(123,"hello")
tuple1[0]=55
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [22]:
#Set Data Type Example
basket ={"apple", "orange", 55, 55}
print(basket)
a = set("abcdefg")
print(a)
a.add(9)
print(a)

{55, 'orange', 'apple'}
{'e', 'g', 'b', 'c', 'f', 'd', 'a'}
{'e', 9, 'g', 'b', 'c', 'f', 'd', 'a'}

In [24]:
#Frozen Set Data Type Example
b =frozenset("asdfagsa")
print(b)
>frozenset({"f","g","d","a","s"})
cities =frozenset(["Frankfurt", "Basel","Freiburg"])
print(cities)

SyntaxError: invalid syntax (<ipython-input-24-871da7515038>, line 4)

In [29]:
#Dictionary Data Type (Cont'd) Example
dic ={"name":"SSM","age":20}
print(dic)
print(dic.values())
print(dic.keys())

{'name': 'SSM', 'age': 20}
dict_values(['SSM', 20])
dict_keys(['name', 'age'])

In [58]:
#Boolean Data Type Example
>>> b =True
>>> print(b)
>>> c =False
>>> print(b,c)

True
True False

In [37]:
#Binary Data Types Example
x = bytes(10)
print(x)
x = bytearray(10)
print(x)
x = memoryview(bytes(10))
print

b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'
bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00')
<memory at 0x7fb4287b7100>

In [4]:
#String Data Type (Cont'd) Example
a_str = "Hello World"
print(a_str)
print(a_str[0])
print(a_str[0:5])
print("hello"+"world")
print("hello"*3)
print("hello"[0])
print("hello"[-1])
print("hello"[1:4])
print(len("hello"))
print("hello"<"jello")
print("e"in"hello")
"escapes:\n etc,\033 etc,\if etc"
a = """you can display a string literal, a multiline string to a variable"""
print(a)

Hello World
H
Hello
helloworld
hellohellohello
h
o
ell
5
True
True
you can display a string literal, a multiline string to a variable

In [16]:
a,b=5,15
a+b
result = a + b
print(result)

20

In [17]:
a,b=5,15
a+=b
print(a)

20

In [13]:
#import operator
x,y = 100,150
operator.add(x,y)
operator.add(x,y)

250

In [14]:
a,b=5,15
a+b
result = a % b
print(result)

5

In [18]:
a,b,c,d = 1, 2, 3, 4
d/a+b*c

10.0

In [19]:
a,b,c,d = 1, 2, 3, 4
d//a**b+c-d*b

-1

In [24]:
x = int(1.5)
print (x)

1

In [26]:
x = str(5)
x+=x
print (x)

55

In [29]:

num1 =int(input("Enter first number"))
num2 =int(input("Enter second number"))
#Add two numbers
sum = float(num1) + float(num2)
#Display the sum
print("The sum of num1 and num2 is :",sum)

Enter first number5
Enter second number5
The sum of num1 and num2 is : 10.0

In [30]:
num1 =int(input("Enter first number"))
num2 =int(input("Enter second number"))
#Add two numbers
sum = float(num1) + float(num2)
#Display the sum
print("The sum of num1 and num2 is :",sum)

Enter first number1
Enter second number1
The sum of num1 and num2 is : 2.0

In [31]:
#Python Program to find perimeter of a circle using Diameter
pi = 3.14
diameter = int(input("Enter the diameter of the circle"))
radius = diameter/2
perimeter = 2 * pi * radius
print("Perimeter of circle is:", perimeter)

Enter the diameter of the circle30
Perimeter of circle is: 94.2

In [33]:
#If Statement
a = 55
b = 65
if b>a:
  print("b is greather than a")

b is greather than a

In [34]:
#If Statement
a = 55
b = 20
if b>a:
  print("b is greather than a")

In [37]:
name = "SMM"
if name==("Hello",name):
  print("Hello", name)

In [40]:
#If Else Statement
a = 200
b = 5
if b>a:
  print("b is greater than a")
else:
  print("a is greather than a")

a is greather than a

In [45]:
#If Else Elif Statement
a = 200
b = 5
if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal")
else:
  print("a is greather than b")

a is greather than b

In [48]:
#Example project of if, elif and else
print("Enter Marks Obtained in 3 subjects")
total = 68
total = 75
total = 40
total = total + total + total
avg = total/3
if avg >=91 and avg <= 100:
  print("Your Grade is A1")
elif avg >=81 and avg < 91:
  print("Your Grade is A2")
else:
  print("Your Grade is A3")

Enter Marks Obtained in 3 subjects
Your Grade is A3

In [56]:
#Nested If
x = 41
if x>10:
  print("above ten")
if x>20:
  print("and also above 20")
else:
  print("but not above 20")

above ten
and also above 20